
<div class="container-fluid">
   <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: 'alert alert-success' %>
    <% end -%>
  <div class="hero-unit" style="text-align:center">
    <h1 id="">Declaraciones Juradas</h1>
    <div style="padding-top:60px">
        <a href="<%= url_for(:controller=>:data, :action=>:gen_str_buscador)%>" class="btn btn-large btn-primary" style="margin: 0 20px">Actualizar el buscador</a>
    
        <a href="<%= action_name == "borrar_cache" ? "active" : "" %>" class="btn btn-large btn-primary" style="margin: 0 20px">Borrar Cache</a>

        <a href="<%= url_for(:controller=>:tareas, :action=>:crear_csv_poderes)%>" class="btn btn-large btn-primary" style="margin: 0 20px">Actualizar el csv</a>

    </div>
  </div>
</div>
