	<!--<div class="buscador">
		<%if false%>
			<input type="text" value="" placeholder="Buscar..." name="text_buscar" id="str" >
		<%end%>
		<input type="text" value="" placeholder="Buscar..." name="text_buscar" id="str" data-provide="typeahead" data-personas="<%= url_for :data_personas%>" data-bienes="<%= url_for :data_bienes %>">
		<a href="#" id="buscar_str" class="spt" data-action="<%= url_for :index%>">Buascar por texto</a>
	</div>
-->
