<article class="document">
	<h3><span>Documentación presentada</span></h3>
	<div id="app">
			
		<a class="btn prev" href="#">ANTERIOR</a>
		<div id="slide">
			<ul id="list" data-documentcloud="<%= @ddjj.url %>">
			<% if false
			# @ddjj.get_imgs_of_documentcloud.each do | x | 
			%>
				<li><img src="<%= x%>" width="90%"></li>
			
			<% end %>
				
			</ul>
		</div>
			<a class="btn next"  href="#">PRÓXIMO</a>
	</div>

</article>