
<!-- PIE -->
    <footer style="border-top: 1px solid #CCCCCC;">
    <section id="pie" class="floatFix expandido">
        <ul><li><a href="http://especiales.lanacion.com.ar/varios/mapa-sitio/index.asp" title="Mapa del sitio"><b>Mapa del sitio</b></a><span>|</span></li><li><a href="https://registracion.lanacion.com.ar/faq" title="Ayuda">Ayuda</a><span>|</span></li><li><a href="https://registracion.lanacion.com.ar/condiciones" title="Términos y condiciones">Términos y condiciones</a><span>|</span></li><li><a href="http://www.lanacion.in/" title="Cómo anunciar" rel="external">Cómo anunciar</a><span>|</span></li><li><a href="http://lanacion.zonajobs.com.ar/" title="Trabajá con nosotros" rel="external">Trabajá con nosotros</a></li></ul>
            <div class="copy floatFix"><span class="textoCopy">Copyright 2013 SA LA NACION | Todos los derechos reservados.&nbsp;</span><b>Miembro de GDA. Grupo de Diarios América</b></div>
    </section>
		<%= link_to "Sitemap", {:controller=>"home", :action=>"lista_personas"}, :style=>"visibility:hidden"%>

    
    </footer>
<!-- PIE -->
