
<!-- 
    <footer style="border-top: 1px solid #CCCCCC;">
    <section id="pie" class="floatFix expandido">

            <div class="copy floatFix"><span class="textoCopy">Copyright 2013 SA LA NACION | Todos los derechos reservados.&nbsp;</span><b>Miembro de GDA. Grupo de Diarios América</b></div>
    </section>
		<%= link_to "Sitemap", {:controller=>"home", :action=>"lista_personas"}, :style=>"visibility:hidden"%>

    
    </footer>
-->
