<!--CABEZAL-->
<header style="margin-bottom:20px">
    <section class="cabezal interna">
        <section class="desplegable floatFix">
            <div class="logoConSeccion floatFix">
                <section class="logo"><a class="ln" href="/" onclick="_gaq.push(['_trackEvent','cabezal','logo','interna']);" title="datauy.org" alt="datauy.org">&nbsp;</a></section>
            </div>
            <section class="buscador" id="buscador">
            </section>
        </section>
        </section>
        <nav id="troncal" style="z-index:inherit">	
        </nav>
        <div class="cierre"></div>
</header>
<!--CABEZAL-->
