<!--CABEZAL-->
<header style="margin-bottom:20px">
    <section class="cabezal interna">
        <section class="desplegable floatFix">
            <div class="logoConSeccion floatFix">
                <section class="logo"><a class="ln" href="http://www.lanacion.com.ar" onclick="_gaq.push(['_trackEvent','cabezal','logo','interna']);" title="lanacion.com" alt="lanacion.com">&nbsp;</a></section>
                <section class="encabezado"><h1><a href="<%= url_for :controller => "home", :action => "index" %>">Declaraciones juradas</a></h1></section>
            </div>
            <section class="buscador" id="buscador">
               <!-- 
                <ul>
                    <li class="compartir floatFix"><a class="facebook" rel="external" title="lanacion.com en Facebook" target="_blank" href="http://www.facebook.com/lanacion">&nbsp;</a><a class="twitter" rel="external" title="lanacion.com en Twitter" target="_blank" href="http://twitter.lanacion.com.ar/">&nbsp;</a><a class="google" rel="external" title="lanacion.com en Google+" target="_blank" href="https://plus.google.com/115780372796647083246/posts">&nbsp;</a></li>
                </ul>
                 -->
            </section>
        </section>
        </section>
        <nav id="troncal" style="z-index:inherit">
        <ul class="navSecciones">
            <li class="principalesTop"><a onclick="_gaq.push(['_trackEvent','cabezal','ultimas-noticias','ultimas-noticias']);" href="http://www.lanacion.com.ar/ultimas-noticias" class="accesoSeccion ultimas">Últimas noticias</a></li>
            <li class="edicion-impresa principalesTop"><a class="toi-9936 accesoSeccion" onclick="_gaq.push(['_trackEvent','cabezal','edicion-impresa','edicion-impresa']);" href="http://www.lanacion.com.ar/edicion-impresa">Edición impresa</a></li>
            <li class="principalesTop"><a class="toi-9937 accesoSeccion" onclick="_gaq.push(['_trackEvent','cabezal','blogs','blogs']);" target="blank_" href="http://blogs.lanacion.com.ar">Blogs</a></li>
            <li class="principalesTop"><a class="data principalesTop accesoSeccion" onclick="_gaq.push(['_trackEvent','cabezal','data','data']);" href="http://www.lanacion.com.ar/data">LN Data</a></li>

            <li class="servicios principalesTop"><a onclick="_gaq.push(['_trackEvent','cabezal','servicios','servicios']);" href="http://servicios.lanacion.com.ar" class="accesoSeccion">Servicios</a></li>
            <li class="conOver guia-salidas principalesTop"><a href="http://guia.lanacion.com.ar" onclick="_gaq.push(['_trackEvent','cabezal','guia-lanacion','guia-lanacion']);" class="accesoSeccion" target="_blank">Guía LA NACION</a></li>
        </ul>
        </nav>
        <div class="cierre"></div>
</header>
<!--CABEZAL-->